<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h2>Register Form</h2>
            <hr>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Your Name" value="" />
                </div><br>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Enter Your Mobile Number" value="" />
                </div><br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Your Email" value="" />
                </div><br>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Enter Your Password" value="" />
                </div><br>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div><br>
                <hr>
                <div class="form-group">
                    <a href="#" class="btn btn-success" routerLink="../login">Already Registered? Login</a>
                </div>
        </div>
    </div>
</div>